langchain-aws==0.2.17
langgraph==0.2.43
langchain-community==0.3.5
opensearch-py==2.2.0
requests_aws4auth==1.2.2
pydantic==2.10.0
datamodel-code-generator==0.26.2
langchain-openai==0.3.7
langchain-deepseek==0.1.2
