*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build
.idea
venv
.env

/detailed_report.json
/report.html
tmp.png
response.json
schema.json
oas.json
.ckpt
s5cmd