.create-chatbot-modal {
   padding: 5px 35px;
}

.create-chatbot-modal-foot {
    position:fixed;
    bottom: 0;
    width: 100%;
    height:80px;
    padding-right: 35px;
    right: 35px;
    display: flex
}

.create-chatbot-modal-foot-content {
    margin-left: auto;
}