* {
  margin: 0;
  padding: 0;
}

.pr {
  position: relative;
}

.flex {
  display: flex;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.align-end {
  align-items: flex-end;
  align-content: flex-end;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5px;
}

.chat-container {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chat-message {
    overflow: auto;
    flex: 1;
    padding-bottom: 30px;
  }

  .message-content {
    &.ai {
      padding: 15px 15px;
      border-radius: 10px;
      background-color: #f2f8fd;
      .message {
        ul,
        ol {
          padding: 5px 0 5px 22px;
          li {
            line-height: 1.5em;
          }
        }
        img {
          display: block;
          padding: 4px;
          margin-top: 10px;
          border: 1px solid #ccc;
          max-width: 500px;
        }
      }
    }
    &.human {
      width: 100%;
      display: flex;
      flex-direction: column;
      .message {
        border-radius: 10px;
        padding: 15px 15px;
        align-self: flex-end;
        background-color: #f4f4f4;
      }
    }
  }

  .send-message {
    .upload-icon {
      position: absolute;
      bottom: 0px;
    }
  }
}

.selected-items-list {
  padding: 15px;
}

.common-alert {
  width: fit-content;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
  opacity: 1;
  transition: all ease-out 0.8s;
}

.common-alert-hide {
  opacity: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.page-loading {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
