gradio==4.13.0
requests
boto3==1.34.20
langchain_community==0.0.13
unstructured==0.12.0
pdf2image
pdfminer.six
opencv-python
unstructured-inference==0.7.21
pikepdf
pypdf
markdownify
# pip install "paddleocr>=2.0.1" --upgrade PyMuPDF==1.21.1
paddlepaddle
paddleocr>=2.0.1
PyMuPDF==1.21.1
