.oidc {
    width:90%;
    // margin-left: 10%;
    height: 160px;
}

.label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.oidc [class*="awsui_button-trigger"] {
    border: 1px solid #80808061 !important;
    border-radius: 5px !important;
    height: 40px !important;
}

.oidc [class*="awsui_input"] {
    border: 1px solid #80808061 !important;
    border-radius: 5px !important;
    height: 40px !important;
}
.oidc [class*="awsui_input-container"] {
    border: 0px solid #80808061 !important;
    border-radius: 5px !important;
    height: 40px !important;
}

.oidc [class*="awsui_options-list"] li {
    border: 1px solid #80808061 !important;
    border-radius: 0px !important;
}
.item {
    margin-bottom: 15px;
}
