accelerate==1.0.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.11
aiosignal==1.3.1
aitemplate==0.1.dev1
async-timeout==5.0.1
attrs==24.2.0
awscli==1.29.23
BCEmbedding==0.1.3
beautifulsoup4==4.12.3
bitsandbytes==0.38.1
botocore==1.31.23
cbor==1.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
cmake==3.27.1
colorama==0.4.4
datasets==2.19.0
deepspeed @ https://publish.djl.ai/deepspeed/deepspeed-0.8.3-py2.py3-none-any.whl#sha256=651fff9366678262fe30e4f87b4fa2687d0af395f48b8c2120826a2cf0423ed0
diffusers==0.12.0
dill==0.3.8
docutils==0.16
filelock==3.12.2
FlagEmbedding==1.3.2
frozenlist==1.5.0
fsspec==2023.6.0
hjson==3.1.0
huggingface-hub==0.26.2
idna==3.4
ijson==3.3.0
importlib-metadata==6.8.0
inscriptis==2.5.0
ir_datasets==0.5.9
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
lxml==5.3.0
lz4==4.3.3
MarkupSafe==2.1.3
mpi4py==3.1.4
multidict==6.1.0
multiprocess==0.70.16
ninja==1.11.1
numpy==1.24.4
packaging==23.1
pandas==2.0.3
peft==0.13.2
Pillow==10.0.0
propcache==0.2.0
protobuf==3.20.2
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pydantic==1.10.12
python-dateutil==2.8.2
pytz==2024.2
PyYAML==6.0.1
regex==2023.8.8
requests==2.32.2
rsa==4.7.2
s3transfer==0.6.1
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.1
sentence-transformers==3.2.1
sentencepiece==0.1.99
six==1.16.0
soupsieve==2.6
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==1.13.1+cu117
tqdm==4.66.0
transformers==4.44.2
trec-car-tools==2.6
triton==2.0.0.dev20221202
typing_extensions==4.7.1
tzdata==2024.2
unlzw3==0.2.2
urllib3==1.26.16
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
xxhash==3.5.0
yarl==1.15.2
zipp==3.16.2
zlib-state==0.1.9