python-dotenv
PyPDF2
streamlit==1.31.1
langchain==0.1.11
openai==1.1.0
tiktoken==0.5.1
boto3==1.28.84
nougat-ocr==0.1.17
tenacity==8.2.2
altair==4.2.2
scikit-learn==1.2.1
kor==0.9.2
transformers==4.36.0
lark==1.1.5
ragas==0.0.21
simsimd==3.6.0
pandas==1.5.3
matplotlib==3.7.1
seaborn==0.12.2